<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CMS login</title>
    <th:block th:insert="common/head" />
    <link href="/css/auth.css" rel="stylesheet">
</head>
<body>
    <main>
        <div id="login-form-container">
            <div id="head">
                <h1>Please Sign In</h1>
            </div>
            <form method="POST" th:action="@{login}" name="loginForm" th:object="${accountDto}">
                <div class="form-group mb-3">
                    <input th:field="*{email}" type="text" class="form-control" placeholder="E-mail">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                         class="mt-1 alert-danger">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                    <div class="error" id="password-error"></div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         class="mt-1 alert-danger"></div>
                </div>
                <div class="form-check mb-3">
                    <input th:field="*{rememberMe}" type="checkbox" class="form-check-input">
                    <label class="form-check-label">Remember me</label>
                </div>
                <div class="mb-3">
                    <button id="btn-submit" type="submit" class="btn btn-primary">Login</button>
                </div>
                <div>
                    <a href="register" title="Register">Click here to Register</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>